<?xml version="1.0"?>
<robot name="simple_camera">
    <!-- <link name="panda_link0">
        <visual>
            <geometry>
                <mesh filename="file://$(find moveit_resources_panda_camera_description)/meshes/visual/link0.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="file://$(find moveit_resources_panda_camera_description)/meshes/collision/link0.stl" />
            </geometry>
        </collision>
        <inertial>
          <origin xyz="-0.041018 -0.00014 0.049974" rpy="0 0 0" />
          <mass value="0.629769"/>
          <inertia ixx="0.00315" iyy="0.00388" izz="0.004285" ixy="8.2904E-7" ixz="0.00015" iyz="8.2299E-6"/>
        </inertial>
    </link> -->

    <link name="base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://moveit_resources_panda_camera_description/meshes/visual/camera_with_adapter.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://moveit_resources_panda_camera_description/meshes/visual/camera_with_adapter.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
      </inertial>
    </link>
  

</robot>
